*{
    margin: 0;
    padding: 0;
}
header{ 
    background-color: rgb(76, 138, 231);
    width: 100%;
    height: 6.8vh;
}

nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
  position: relative;
  top: 0.5vh;
    display: flex;
    align-items: center;
    width: 7vw;
    height: 4vh;
    padding: 2px 10px; 
}
nav ul{
    height: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}
nav ul li{
    list-style: none;
    padding: 0 26.5px;
}
nav ul li a{
    font-size: 2.8vh;
    color: white;
    text-decoration: none;
    position: relative;
    top: 1vh;
    
}
.logi{
  position: relative;
  right: -2.5vh;
}
nav ul li a:hover{
    font-weight: bold;
    height: 4vh;
}

.search-bar{
  position:relative;
  top: 0.5vh;
  right: -1vw;
display: flex;
align-items: center;
height: 6vh;
width: 33vw;
}
#search{
  display: flex;
align-items: center;
  width: 35vw;
height: 4vh;
border-radius: 0.5vh;
border: 1px solid rgb(56, 55, 55);
padding: 0vh 0vw 0vh 1vw;
}

.s {
  position: relative;
  right: -0.6vw;
  border: 2px solid rgb(76, 138, 231);
 background-color:rgb(76, 138, 231);
  color: white;
  border-radius: 0.5vh;
  height: 4vh;
}

.search-icon{
  position:relative;
  top: 0.5vh;
  display: flex;
height: 6vh;
width: 5vw;
align-items: center;
justify-content: center;
  
}
.search-icon1{
  height: 3.5vh;
width: 2vw;
}
.search-icon1:hover{
  color:aqua;
  height: 3vh;
width: 2vw;

}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:auto;
  margin-top: 24px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.card{
    max-width: 90vw;
    margin: auto;
    
}
.card img{
      border: 4px solid black;
      position: relative;
      top: 4vh;
      
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(71, 163, 165);
    height: 65vh;
    margin-bottom: 8px;

}
.cardss{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(71, 163, 165);
    height: 70vh;

}
.card-item{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
  
}
.lines{
  font-family: 'Roboto', sans-serif;
  line-height: 4.5vh;
  font-weight: bold;
  padding: 0vh 0vw 6vh 0vw;
  position: relative;
  top: 4vh;
}
.card h2{
    font-style: oblique;
    font-weight: 900;
}
.container{
    min-height: calc(100vh - 58px - 8vh);
}
footer{
    height: 8vh;
    background-color: black;
    color: white;
}